# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Django
/static/
media/
*.log

# VSCode / IDE
.vscode/
.idea/

# Node / frontend
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Virtual envs
.venv/
venv/
ENV/
env/